*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.img1{
    background-image: url('/img/img1.jpg');
}

.img2{
    background-image: url('/img/img2.jpg');
}

.img3{
    background-image: url('/img/img3.jpg');
}

.img4{
    background-image: url('/img/img4.jpg');
}

.img5{
    background-image: url('/img/img5.jpg');
}

.container{
    display: flex;
    width: 90vw;
}

.container .slide h2{
    position: absolute;
    font-size: 20px;
    bottom:20px;
    left: 30px;
    opacity: 0;
 
}

.slide{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;

    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    margin: 10px;

    flex:0.5;
    transition: flex 0.5s ease-in-out;
}

.slide.active{
    flex: 4;
}

.slide.active h2{
    opacity: 1; 
     transition: opacity 1.5s ease-in-out;
}

@media(max-width:600px){
    .container{
        width: 100vh;
    }

    .slide:nth-of-type(4),
    .slide:nth-of-type(5){
      display: none;
    }

    .slide h2{
        display: none;
    }
}